body {
  background: rgb(255, 255, 255);
}

.container2 {
  background: #000228ec;
  margin: 50px auto;
  width: 1000px;
  height: 500px;
  overflow: hidden;
  border: 10px solid;
  border-top-color: #cdcdcd;
  border-left-color: #cdcdcd;
  border-bottom-color: #cdcdcd;
  border-right-color: #cdcdcd;
  position: relative;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  
}
.tempbox{
background-color: whitesmoke;
width: 140px;
height: 180px;
border: 1px solid darkgrey;
position: absolute;
font-family: "Open Sans";
z-index: 9;
border-radius: 9px;
color: #293251;
top: 360px;
left: 155px;
opacity: 0.9;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;


}

.infobox2{
  background-color: whitesmoke;
  width: 140px;
  height: 180px;
  border: 1px solid darkgrey;
  position: absolute;
  font-family: "Open Sans";
  z-index: 9;
  border-radius: 9px;
  color: #293251;
  top: 360px;
  left: 965px;
  opacity: 0.9;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  
  
  }

.infobox{
  background: #696969;
  width: 975px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  height: 200px;
  left:143px; 
  top: 350px;
  border-radius: 9px;
  position: absolute;
  z-index: 8;
  opacity: 50%;
}

.photo {
  position: absolute;
  animation: round 16s infinite;
  opacity: 0;
}

@keyframes round {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}
img:nth-child(1) {
  animation-delay: 12s;
}

img:nth-child(2) {
  animation-delay: 8s;
}

img:nth-child(3) {
  animation-delay: 4s;
}

img:nth-child(4) {
  animation-delay: 0s;
}

button {
  display: inline-block;
  border: 2px solid   #4a4b4b;
  height: 105px;
  padding: 1;
  margin: 0;
  vertical-align: top;
  width: 105px;
  border-radius: 25px;
  z-index: 9;
  color: #293251;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
button:hover {
background-color: #6e6e6e;
border: 2px solid   #4a4b4b;  
opacity: 1;
}


